.container {    
    width: 100%;
    height: 100%;
    padding-top: 25px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .sidenav-content {
    display: flex;
    
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav {
    padding: 20px;
    width: 35vw;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  table {    
    border-collapse: collapse;
    width: 100%;
  }
  

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
  }
  
  tr:nth-child(even) {
    background-color: #696868;
  }

  tr {
    th {
      background-color: #c2185b;
    }
  }

  .btn-container {
    margin: 5px;
  }