<mat-toolbar color="primary">  
  <button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Desafio Angular</span>  
</mat-toolbar>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="btn-container">
      <button mat-raised-button color="primary" (click)="addNovo()"><mat-icon>add</mat-icon>Novo</button>
    </div>    
    <table>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Ação</th>
      </tr>
      <tr *ngFor="let p of pessoas$ | async">
        <td>{{p.nome}}</td>
        <td>
          {{p.cpf | cpf}}
          <button mat-button color="accent" [cdkCopyToClipboard]="p.cpf"><mat-icon>content_copy</mat-icon></button>
        </td>
        <td>          
          <button mat-button color="primary" (click)="apagarPessoa(p)"><mat-icon>delete</mat-icon></button>
        </td>        
      </tr>
    </table>      
    
  </mat-drawer>
  <div fxLayout="column" fxLayoutAlign="space-between center" >
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>CPF</mat-label>
      <input mask="000.000.000-99" matInput type="text" [(ngModel)]="cpf">
      <button *ngIf="cpf" matSuffix mat-icon-button aria-label="Clear" (click)="limparCpf()">
        <mat-icon>close</mat-icon>
      </button>
      <button *ngIf="cpf" matSuffix mat-icon-button aria-label="Procurar" (click)="validarCpf()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>  
    <div *ngIf="cpfValido !== estadosCpf.encontrado">
      <app-card-info [textoInfo]="cpfValido"></app-card-info>
    </div>
    <div *ngIf="cpfValido === estadosCpf.encontrado">
      <app-card-usuario [pessoa]="pessoa"></app-card-usuario>
    </div>
  </div>  
</mat-drawer-container>


