<mat-card c class="card-usuario">
    <mat-card-title-group>
      <mat-card-title>{{pessoa.nome}}</mat-card-title>
      <mat-card-subtitle>{{pessoa.cpf | cpf}}</mat-card-subtitle>
      <img mat-card-sm-image [src]="pessoa.foto" >
    </mat-card-title-group>
    <mat-card-content>
        <mat-list>
            <mat-list-item> Email: {{pessoa.email}} </mat-list-item>
            <mat-list-item> Celular: {{pessoa.celular}} </mat-list-item>
            <mat-list-item> Cidade: {{pessoa.cidade}} </mat-list-item>
        </mat-list>
    </mat-card-content>
  </mat-card>
